.statistics_title{
    text-align: left;
    font: normal normal normal 17px FSAlbert;
    letter-spacing: 0.38px;
    color: #12406F;
    opacity: 1;
    padding-top: 36px !important;
    padding-left: 70px !important;
    }

.statistics{
    background: #F6F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 41px;
}

.statistics_number{
    text-align: left;
    font: normal normal bold 40px FSAlbert;
    letter-spacing: 1.28px;
    color: #12406F;
    opacity: 1;
    padding-left: 70px;
}

.statistics_heading{
    text-align: left;
    font: normal normal bold 17px FSAlbert;
    letter-spacing: 0.42px;
    color: #12406F;
    opacity: 1;
    padding-left: 70px;
}

.statistics_description{
    text-align: left;
    font: normal normal 300 13px FSAlbert;
    letter-spacing: 0.32px;
    color: #12406F;
    opacity: 1;
    padding-left: 70px;
    }