.subscribe{
    text-align: left;
    font: normal normal bold 40px/55px FSAlbert;
    letter-spacing: 0.64px;
    color: #12406F;
    opacity: 1;
}

.subscribe_desc{
    text-align: left;
    font: normal normal normal 14px FSAlbert;
    letter-spacing: 0.32px;
    color: #525252;
    opacity: 1;
    max-width: 390px;
}

.input_address{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px;
    opacity: 1;

    text-align: left;
    font: normal normal normal 13px FSAlbert;
    letter-spacing: 0.35px;
    color: #949494;
    opacity: 1;

    width: 150px;
    height: 62px;
    padding-left: 20px;
    padding-top: 2px;
}

.subscribe__button{
    background: #12406F 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 8px #00000029;
    opacity: 1;
    text-align: left;
    font: normal normal bold 12px FSAlbert;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 1px;
    padding: 21px;
    border-radius: 30px;
}